[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
beautifulsoup4 = "==4.9.1"
requests = "==2.24.0"
lxml = "*"
html5lib = "*"

[requires]
python_version = "3.8"
